<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/my.css" />
</head>

<body>
  <div class="grid-x">
    <div class="cell large-4 medium-5" style="text-align: left;">
      <a href="/index.html">
      <img src="/images/logo.png" style="float: none; max-height: 60px; height: 100%;" />
      </a>
    </div>
    <div class="cell large-8 medium-7" style="text-align:right;">
      <img src="/images/uni-due.jpg" style="float: none; max-height: 60px;" />
      <img src="/images/uaruhr.jpg" style="float: none; max-height: 60px;" />
    </div>
    {% include navigation.html %}

    <div class="cell large-12">
