<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/foundation.min.css" />
  <link rel="stylesheet" href="/css/my.css" />
</head>

<body>
<div id="veryouterbox">
  <div class="grid-x">
    <div class="cell large-4 medium-5" style="text-align: left;">
      <a href="/index.html">
      <img src="/images/logo.png" id="logo" />
      </a>
    </div>
    <div class="cell large-8 medium-7" style="text-align:right;">
      <a href="http://www.uni-due.de/"><img src="/images/uni-due.jpg" class="partnerlogo" /></a>
      <a href="http://www.uaruhr.de/"><img src="/images/uaruhr.jpg" class="partnerlogo" /></a>
    </div>
    {% include navigation.html %}

    <div class="cell large-12">
