<div class="cell navigation">
  <ul class="dropdown menu" data-dropdown-menu>
    <li><a href="/index.html">Welcome</a></li>
    <li><a href="/people.html">People</a></li>
    <li><a href="/research.html">Research</a></li>
    <li><a href="/software.html">Software</a></li>
    <li class="is-dropdown-submenu-parent">
      <a href="#">Lehre</a>
      <ul class="menu">
        <li><a href="#">Vorlesung “Algorithmen auf Sequenzen”</a></li>
        <li><a href="#">Vorlesung “Algorithmische Bioinformatik”</a></li>
        <li><a href="#">Vorlesung “Computational Omics”</a></li>
        <li><a href="#">Projektgruppen</a></li>
        <li><a href="#">Fachprojekt Bioinformatik</a></li>
        <li><a href="#">Seminar “Aktuelle Themen der Bioinformatik”</a></li>
        <li><a href="#">Proseminare</a></li>
        <li><a href="#">Abschlussarbeiten</a></li>
        <li><a href="#">Material</a></li>
      </ul>
    </li>
    <li class="is-dropdown-submenu-parent">
      <a href="#">Infos</a>
      <ul class="menu">
        <li><a href="#">Prüfungen</a></li>
        <li><a href="#">Abschlussarbeiten</a></li>
        <li><a href="#">Ausarbeitungen</a></li>
        <li><a href="#">Vorträge</a></li>
        <li><a href="#">Promotionen</a></li>
        <li><a href="#">Schüler</a></li>
      </ul>
    </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Impressum</a></li>
  </ul>
</div>
