<div class="cell navigation">
  <ul class="dropdown menu" data-dropdown-menu>
    <li><a href="/index.html">Welcome</a></li>
    <li><a href="/people.html">People</a></li>
    <li><a href="/research.html">Research</a></li>
    <li><a href="/software.html">Software</a></li>
    <li class="is-dropdown-submenu-parent">
      <a href="#">Lehre</a>
      <ul class="menu">
        {% assign directory = site.pages | where_exp: "item" , "item.path contains 'lehre'"%}
        {% for page in directory %}
        <li><a href="{{ page.url }}">{{page.linktext}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li class="is-dropdown-submenu-parent">
      <a href="#">Infos</a>
      <ul class="menu">
        {% assign directory = site.pages | where_exp: "item" , "item.path contains 'infos'"%}
        {% for page in directory %}
        <li><a href="{{ page.url }}">{{page.linktext}}</a></li>
        {% endfor %}
      </ul>
    </li>
    <li><a href="#">Services</a></li>
    <li><a href="/jobs.html">Jobs</a></li>
    <li><a href="#">News</a></li>
    <li><a href="/impressum.html">Impressum</a></li>
  </ul>
</div>
