  </div>
</div>


 <!-- just a space for the footer -->
<div style="height: 150px;"></div>



<div style="background-color: #004C93; width: 100%; padding-top: 20px; padding-bottom: 20px; position: absolute; left: 0px;  bottom: 0px;">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell large-12">
        <p style="color:white; border-bommtom: 1px solid white; padding-bottom: 10px;">
          (c) rahmannlab.de: <a href="/imprint.html" style="color:white;"> Impressum und Datenschutz / Imprint and Data protection</a>
        </p>
        </div>
      </div>
    </div>
</div>


<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/foundation.min.js"></script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    },
    extensions: [
      "MathMenu.js",
      "MathZoom.js",
      "AssistiveMML.js",
      "a11y/accessibility-menu.js"
    ],
    jax: ["input/TeX", "output/CommonHTML"],
    TeX: {
      extensions: [
        "AMSmath.js",
        "AMSsymbols.js",
        "noErrors.js",
        "noUndefined.js",
      ]
    }
  });
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js">
</script>

<script>
  $(document).foundation();
</script>

</body>
</html>
