</div>

</div>

<div style="height: 150px;"></div><div> <!-- just a space for the footer -->

<div style="background-color: #004C93; width: 100%; padding-top: 20px; padding-bottom: 20px; position: absolute; left: 0px;  bottom: 0px;">
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <h3 style="color: white; border-bottom: 1px solid white; padding-bottom: 10px;">Open-Minded</h3>
        </div>
      </div>
    </div>
</div>

</div>

<script src="/js/vendor/jquery.js"></script>
<script src="/js/vendor/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
</body>

</html>
