{% include head.html %}

</div></div>


<div class="grid-x" style="max-width: 1200px; width: 100%; ">
  <div class="container">
    <img src="images/cool.jpg">
    <div class="tag">
      <div class="grid-x" style="border: 1px solid transparent; margin:auto;">
        <div class="cell large-8 medium-8 hide-for-small-only" style="background-color: rgba(245,245,230,0.9); padding: 10px;  color: black;" >
        {{ content }}
        </div>
        <div class="cell large-auto"></div>
      </div>
    </div>
  </div>
</div>


<div class="grid-x">
  <div class="cell large-12" style="padding: 10px;">

    <div class="grid-x">
      <div class="cell show-for-small-only">
      {{ content }}
      </div>
    </div>



{% assign currentdate = site.time | date: '%s' %}
{% assign news_directory = site.pages | where_exp: "item" , "item.path contains 'news'" | sort: "date" | reverse %}

<br/>
<h1>Recent News</h1>

<div class="grid-x">

  {% for page in news_directory %}
  {% assign newsdate = page.date | date: '%s' %}
  {% assign secondsSince = currentdate | minus: newsdate %}
  {% assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60 %}
  {% assign daysSince = hoursSince | divided_by: 24  %}

  {% if daysSince <= 730 %}
  <div class="cell" style="margin-bottom: 5px; margin-top: 1px;">
    <h2>{{ page.date | date: "%d %b %Y"}} | {{ page.title }}</h2>
    <a href="{{ page.image }}"><img src="{{ page.image }}" width="{{ page.imagewidth }}%" display="block" style="padding: 20px;"/></a>
    {{ page.content | markdownify }}
    <hr/>
  </div>
  {% endif %}
  {% endfor %}

  <div class="cell" style="margin-bottom: 5px; margin-top: 1px;">
    <a href="/news.html">All news (archive)</a>
  </div>

</div>

{% include tail.html %}
