{% include head.html %}
</div></div>

<div class="grid-x" style="max-width: 1200px; width: 100%; ">
    <div class="container">
        <img src="images/cool.jpg">
        <div class="tag">
            <div class="grid-x" style="border: 1px solid transparent; margin:auto;">
              <div class="cell large-7" style="background-color: rgba(0,0,0,0.7); padding: 10px;  color: white;" >
{{ content }}
                </p>
              </div>
              <div class="cell large-auto">
              </div>
            </div>
        </div>
    </div>
</div>
<!--   <div class="cell large-12">
    <div class="container">
       <img src="images/cool.jpg">
       <div class="tag">
           <div class="grid-x" style="max-width: 300px;  margin-left: 0px; padding: 10px; border: 1px solid red; background-color: #f5f5f5;">
            <div class="cell large-12">
                Chair of Genome Informatics
            </div>
            <div class="cell large-12">
                Institute of Human Genetics
            </div>
           </div>
       </div>
    </div>
  </div> -->
<!--     <div class="grid-x">
        <div class="cell large-3" style="background-color: white">
            Chair of Genome Informatics
        </div>
    </div>
  </div> -->
<!-- </div> -->

<div class="grid-x">
  <div class="cell large-12" style="padding: 10px;">

{% assign research_directory = site.pages | where_exp: "item" , "item.path contains 'news'"%}
<div class="grid-x">
  {% for page in research_directory %}
  <div class="cell" style="margin-bottom: 30px;">
    <hr>
    <h3>{{ page.name  | date: "%d %b %y"}} | {{ page.title }}</h3> 
    {{ page.content }}
  </div>
  {% endfor %}
</div>

{% include tail.html %}
