{% include head.html %}
{{ content }}
{% assign people_folder = site.pages | where_exp: "item" , "item.path contains 'people'"%}

{% assign roles = "principal investigators, scientists, student assistants, administration" | split: "," %}
{% for role in roles %}
<h3>{{ role | strip | capitalize }}</h3>
<div class="grid-x">
  {% for page in people_folder %}
  {% if role contains page.role %}
  {% assign image = page.image %}
  {% if image == nil %}{% assign image = "blank.png" %}{% endif %}
    <div class="cell large-6" style="margin-bottom: 20px">
      <a href={{ page.url }}>
      <img src="/people/images/{{ image }}" style="float: left; margin-right:10px; max-width: 150px;">
      <b>{{ page.degree }} {{ page.fullname }}</b><br />
      {{ page.street }}{% if page.street and page.room %},{% endif %} {{ page.room }}<br />
      {{ page.city }}{% if page.tel%} -{% endif %}{{ page.tel }}<br />
      </a>
    </div>
    {% endif %}
  {% endfor %}
</div>
{% endfor %}
{% include tail.html %}
