{% include head.html %}
{% assign image = page.image %}
{% if image == nil %}{% assign image = "blank.png" %}{% endif %}
<div class="grid-x">
<div class="cell">
<h2>{{ page.fullname }}</h2>
</div>
<div class="cell large-4">
  <img src="/people/images/{{ image }}" style="float: left; margin-right:10px;">
</div>
<div class="cell large-1"></div>
<div class="cell large-7">
  <div class="grid-x">
    <div class="cell large-3">Büro</div>
    {% if page.city == "Essen" %}
    <div class="cell large-9">Virchowstr. 183, 1.OG,<br />Raum {{ page.room }}</div>
    {% endif %}
    <div class="cell large-3">Postadresse</div>
    <div class="cell large-9">
{{ page.fullname }}<br />
{% if page.city == "Essen" %}
Genominformatik<br />
Institut für Humangenetik<br />
Universität Duisburg-Essen<br />
Universitätsklinikum Essen<br />
Hufelandstr. 55<br />
45122 Essen
{% endif %}
    </div>
    {% if page.tel %}
    <div class="cell large-3">Telefon</div><div class="cell large-9">{% if page.city == "Essen" %}+49 201 723-{% endif %}{{ page.tel }}</div>
    {% endif %}
    {% if page.www %}
    <div class="cell large-3">WWW</div><div class="cell large-9">{{ page.www }}</div>
    {% endif %}
  </div>
</div>
<div class="cell" style="margin-top: 30px;">
{{ content }}
</div>
<!-- publications -->
<div class="cell">
    <script type="text/javascript" src="/js/bibtex_js.js"></script>
    <bibtex src="/people/bibs/{{ page.bib }}"></bibtex>
    <div class="bibtex_template">
        <span class="title"  style="font-weight: bold;"></span>
        <span class="if url" style="margin-left: 1em">
          <a class="url" style="color:black; font-size:12px">[view online]</a>
        </span>
        <span class="if doi">
            <a class="bibtexVar" href="http://doi.org/+doi+" extra="doi" style="font-size: 10pt; color: #444;">
                [doi]
            </a>
        </span>
        <div class="if author">
          <span class="author" style="font-style: italic;"></span>
        </div>
        <div class="if abstract">
            <details>
                <summary>Abstract</summary>
                <p class="abstracttext">
                    <span class="if abstract"><span class="abstract"></span>,</span>
                </p>
            </details>
        </div>
    </div>
    <div class="bibtex_structure">
      <div class="group year" extra="DESC number">
      	  <div style="padding-bottom:10px;"></div>
      	  <div class="sort journal" extra="DESC string">
          	<div class="templates"></div>
          </div>
      </div>
    </div>
    <div id="bibtex_display"></div>
</div>
</div>
{% include tail.html %}
