{% include head.html %}
{% assign image = page.image %}
{% if image == nil %}{% assign image = "blank.png" %}{% endif %}

<div class="grid-x">

<div class="cell">
<h1>{{ page.fullname }}</h1>
</div>

<div class="cell large-3">
  <img src="/people/{{ image }}" style="float: left; margin-right:10px;">
</div>

<div class="cell large-1"></div>
<div class="cell large-8">
  <div class="grid-x">
    <div class="cell large-2">Office</div>
    {% if page.city == "Essen" %}
    <div class="cell large-10">Virchowstr. 183, 1.OG,<br />room {{ page.room }}</div>
    {% elsif page.city contains "Essen" %}
    <div class="cell large-10">Universitätsstr. 5,<br />room {{ page.room }}</div>
    {% elsif page.city contains "Dortmund" %}
    <div class="cell large-10">Otto-Hahn-Str. 14,<br />room {{ page.room }}</div>
    {% elsif page.city contains "Saarbrücken" %}
    <div class="cell large-10">Campus E2.1,<br />room {{ page.room }}</div>
    {% endif %}
    <div class="cell large-2">Mails</div>
    <div class="cell large-10">
{{ page.fullname }}<br />

{% if page.city == "Essen" %}
Genominformatik<br />
Institut für Humangenetik<br />
Universität Duisburg-Essen<br />
Universitätsklinikum Essen<br />
Hufelandstr. 55<br />
45122 Essen, Germany
{% elsif page.city contains "Essen" %}
Universität Duisburg-Essen<br/>
Universitätsstr. 5<br/>
45141 Essen, Germany
{% elsif page.city contains "Dortmund" %}
Bioinformatik<br />
Informatik XI<br />
TU Dortmund<br />
44221 Dortmund, Germany<br />
{% elsif page.city contains "Saarbrücken" %}
Algorithmische Bioinformatik<br />
Zentrum für Bioinformatik, Campus E2.1<br />
Universität des Saarlandes<br />
66123 Saarbrücken, Germany<br />
{% endif %}
    </div>

    {% if page.tel %}
    <div class="cell large-2">Phone</div>
    <div class="cell large-10">{{ page.tel }}</div>
    {% endif %}

    {% if page.www %}
    <div class="cell large-2">WWW</div>
    <div class="cell large-10"><a href="{{ page.www }}">{{ page.www }}</a></div>
    {% endif %}

  </div>
</div>


<div class="cell" style="margin-top: 30px;">
{{ content }}
<hr/>
</div>


<!-- publications -->
{% if page.bib %}
<h2>Publications</h2>
<div class="cell">
    <script type="text/javascript" src="/js/bibtex_js.js"></script>
    <bibtex src="/people/{{ page.bib }}"></bibtex>
    <div class="bibtex_template">
        <span class="title"  style="font-weight: bold;"></span><br/>
        <div class="if author">
          <span class="author"></span>
        </div>
        <div class="if journal" style="display: inline-block;">
            <span class="journal" style="font-style: italic;"></span>
        </div>
        <div class="if booktitle" style="display: inline-block;">
            <span class="booktitle" style="font-style: italic;"></span>
        </div>
        <div id="info" style="display: inline-block;">
            <span class="if url" style="margin-left: 0.5em">
              <a class="url" style="color:black; font-size:12px">[view online]</a>
            </span>
            <span class="if doi">
                <a class="bibtexVar" href="https://doi.org/+doi+" extra="doi" style="font-size: 10pt; color: #444;">
                    &nbsp;[doi]
                </a>
            </span>
        </div>
        <div class="if abstract">
            <details>
                <summary>Abstract</summary>
                <p class="abstracttext">
                    <span class="if abstract"><span class="abstract"></span>,</span>
                </p>
            </details>
        </div>
    </div>
    <div class="bibtex_structure">
      <div class="group year" extra="DESC number">
        <div style="padding-bottom:10px; padding-top:0px;"></div>
        <div class="sort journal" extra="ASC string">
          <div class="templates"></div>
        </div>
     </div>
    </div>
  <div id="bibtex_display"></div>
</div>
{% endif %}

</div>

{% include tail.html %}
