{% include head.html %}

{{ content }}

{% assign research_directory = site.pages | where_exp: "item" , "item.path contains 'research'"%}

{% assign stati = "current, past" | split: "," %}

{% for status in stati %}
<h3>{{ status | strip | capitalize }} Projects</h3>
<div class="grid-x">
  {% for page in research_directory %}
  {% if status contains page.status %}
  <div class="cell" style="margin-bottom: 30px;">
    <a href="#">{{ page.title }}</a><br />
    {{ page.author }}<br />
    {% if page.collaboration %}in collaboration with {{ page.collaboration }}{% endif %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}

{% include tail.html %}
