{% include head.html %}

{{ content }}

{% assign research_directory = site.pages | where_exp: "item" , "item.path contains 'research/'" | sort: "date" | reverse %}

{% assign stati = "current, past" | split: "," %}

{% for status in stati %}
<h1>{{ status | strip | capitalize }} research projects</h1>
<div class="grid-x">
  {% for project in research_directory %}
  {% if status contains project.status %}
  <div class="cell" style="margin-bottom: 30px;">
    <a href="{{ project.url }}"><h2>{{ project.title }}</h2></a>
    <p>
    {% if project.image %}<img src="{{ project.image }}" alt="{{ project.title }}" width="30%" display="block" style="padding: 15px;" />{% endif %}
    <b>Investigators:</b> {{ project.members }}<br/>
    {% if project.collaborators %}
    <b>Collaborators:</b> {{ project.collaborators }}<br/>
    {% endif %}
    <b>Funding:</b> {{ project.funding }}<br/>
    <b>Summary:</b> {{ project.summary }}
    (<a href="{{ project.url }}">Details</a>)
    {% if project.software %}
    <br/><b>Software:</b> <a href="/software#{{ project.software }}">{{ project.software }}</a>
    {% endif %}
    </p><hr/>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}

{% include tail.html %}
