{% include head.html %}
{{ content }}

{% assign people_folder = site.pages | where_exp: "item" , "item.path contains 'uaruhr/'" | sort: "name" | reverse %}
{% assign roles = "principal investigators, scientists, students and student assistants, administration" | split: "," %}

{% for role in roles %}
<h2>{{ role | strip | capitalize }}</h2>
<div class="grid-x">
  {% for page in people_folder %}
  {% if role contains page.role %}  {% if page.where contains "uaruhr" %}
  {% assign image = page.image %}
  {% if image == nil %}{% assign image = "blank.png" %}{% endif %}
    <div class="cell large-6" style="margin-bottom: 20px">
      <a href={{ page.url }}>
      <img src="people/{{ image }}" style="float: left; margin-right:10px; max-width: 150px;" />
      <b>{{ page.degree }} {{ page.fullname }}</b></a><br />
      {{ page.street }}{% if page.street and page.room %},{% endif %} {{ page.room }}<br />
      {{ page.city }}<br />
    {% if page.tel%}{{ page.tel }}<br />{% endif %}
    </div>
  {% endif %} {% endif %}
  {% endfor %}
</div>
<div><br/></div>
{% endfor %}


{% include tail.html %}
